
<main>
    <!-- Start hero -->
    <section id="hero">
        <div class="hero">
            <div class="container">
                <div class="row">

                    <div class="col-sm-12 col-lg-6 hero-text">
                        <div class="text">
                            <h1>
                                Enjoy Your Healthy<br>
                                Delicious Food
                            </h1>
                            <p>
                                Sed autem laudantium dolores. Voluptatem itaque ea consequatur eveniet. Eum quas
                                beatae cumque eum quaerat.
                            </p>
                        </div>
                        <div class="buttons">
                            <a class="btn btn-danger rounded-pill icon-shadow" href="#">Book a table</a>
                            <a href="" class="icon-button">
                                <i class="fa-solid fa-circle-play"></i>
                                <p>Watch video</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6 hero-image">
                        <img src="/assets/image/hero-img.png" alt="">
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- End Hero -->
    <!-- start about-us -->
    <section id="about-us">
        <div class="container">
            <div class="row">

                <div class="about-text">
                    <span>ABOUT US</span>
                    <h4>Learn More About Us</h4>
                </div>

                <div class="about-description">
                    <div class="row">
                        <div class="col-md-12 col-lg-8 image-contact">
                            <div class="contact-number">
                                <h4>Book a Table</h4>
                                <span>+1 5589 55488 55</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4 image-text">
                            <div class="text">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </p>
                                <ul>
                                    <li>
                                        <i class="fa-solid fa-check"></i>Ullamco laboris nisi ut aliquip ex ea
                                        commodo
                                        consequat.
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i>Duis aute irure dolor in reprehenderit in
                                        voluptate velit.
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i>Ullamco laboris nisi ut aliquip ex ea
                                        commodo
                                        consequat.
                                    </li>
                                </ul>
                                <p>
                                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    Excepteur sint occaecat cupidatat non proident
                                </p>
                            </div>
                            <div class="image">
                                <div class="modal fade" id="exampleModalToggle" aria-hidden="true"
                                     aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">

                                            <iframe width="560" height="315"
                                                    src="https://www.youtube.com/embed/YVkUvmDQ3HY"
                                                    title="YouTube video player" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                        </div>

                                    </div>
                                </div>

                                <a class="btn btn-primary rounded-circle button-play" data-bs-toggle="modal"
                                   href="#exampleModalToggle" role="button"><i class="fa-solid fa-play"></i></a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- End about-us -->
    <!-- start CHEFS-CARD  -->
    <section id="chef-card">
        <div class="container">
            <div class="row">
                <div class="text-desc">
                    <span class="position">CHEFS</span>
                    <h2 class="introduction">Our <span>Proffesional</span> Chefs</h2>
                </div>

                <div class="cards">
                    <div class="row">
                        <div class="card chef-desc" style="width: 24rem;">
                            <img src="/assets/image/chefs-1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h2>Walter White</h2>
                                <span>Master Chef</span>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up
                                    the bulk of the card's content.
                                </p>

                            </div>
                            <div class="icons">
                                <ul>
                                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li> <a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card chef-desc" style="width: 24rem;">
                            <img src="/assets/image/chefs-2.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h2>Walter White</h2>
                                <span>Master Chef</span>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up
                                    the bulk of the card's content.
                                </p>
                            </div>
                            <div class="icons">
                                <ul>
                                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li> <a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card chef-desc" style="width: 24rem;">
                            <img src="/assets/image/chefs-3.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h2>Walter White</h2>
                                <span>Master Chef</span>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up
                                    the bulk of the card's content.
                                </p>
                            </div>
                            <div class="icons">
                                <ul>
                                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li> <a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- start -map -->
    <section id="map">
        <div class="container">
            <div class="row">
                <div class="text-desc">
                    <span>CONTACT</span>
                    <h4>Need Help? <span> Contact Us</span></h4>
                </div>
                <div class="map">
                    <div class="map-inframe" style="width: 100%">
                        <iframe width="100%" height="300" frameborder="0"
                                scrolling="no" marginheight="0" marginwidth="0"
                                src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=1%20Grafton%20Street,%20Dublin,%20Ireland+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                            <a href="https://www.gps.ie/wearable-gps/">adventure gps</a>
                        </iframe>
                    </div>

                    <div class="services-base">
                        <div class="row">
                            <div class="services">
                                <div class="icon"><i class="fa-solid fa-envelope"></i></div>
                                <div class="text">
                                    <h4>Our Address</h4>
                                    <span>A108 Adam Street, New York, NY 535022</span>
                                </div>
                            </div>
                            <div class="services">
                                <div class="icon"><i class="fa-solid fa-envelope"></i></div>
                                <div class="text">
                                    <h4>Our Address</h4>
                                    <span>A108 Adam Street, New York, NY 535022</span>
                                </div>
                            </div>
                            <div class="services">
                                <div class="icon"><i class="fa-solid fa-envelope"></i></div>
                                <div class="text">
                                    <h4>Our Address</h4>
                                    <span>A108 Adam Street, New York, NY 535022</span>
                                </div>
                            </div>
                            <div class="services">
                                <div class="icon"><i class="fa-solid fa-envelope"></i></div>
                                <div class="text">
                                    <h4>Our Address</h4>
                                    <span>A108 Adam Street, New York, NY 535022</span>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="shadow p-3 mb-5 bg-white rounded form-area">
                    <form>
                        <div class="row">
                            <div class="col-md-5 input input-name">
                                <input type="text" class="form-control" placeholder="Name ">
                            </div>
                            <div class="col-md-5 input input-email">
                                <input type="text" class="form-control" placeholder="Email">
                            </div>
                            <div class="col-md-11 input input-subject">
                                <input type="text" class="form-control" placeholder="Subject">
                            </div>
                            <div class="col-md-11 input area-message">
                                <textarea name="" id="" placeholder="Message"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary rounded-pill">Send Message</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </section>
    <!-- end map -->
</main>